/* Fonts */
@font-face {
  font-family: "Poppins Medium Italic";
  src: url("/fonts/Poppins-MediumItalic.ttf");
}

@font-face {
  font-family: "Poppins Thin";
  src: url("/fonts/Poppins-Thin.ttf");
}


@font-face {
  font-family: "Poppins Regular";
  src: url("/fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Poppins Bold";
  src: url("/fonts/Poppins-Bold.ttf");
}

@font-face {
  font-family: "Poppins Medium";
  src: url("/fonts/Poppins-Medium.ttf");
}

@font-face {
  font-family: "Helvetica Compressed";
  src: url("/fonts/helvetica-compressed.otf");
}

@font-face {
  font-family: "Wonderbar Demo";
  src: url("/fonts/Wonderbar-Demo.otf");
}

@font-face {
  font-family: "Agentred";
  src: url("/fonts/AGENTRED.ttf");
}

@font-face {
  font-family: "Helvetica";
  src: url("/fonts/Helvetica.ttf");
}


@font-face {
  font-family: "If";
  src: url("/fonts/If.ttf");
}


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.my-box-with-ripple {
  position: relative;
  overflow: hidden;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: all 0.3s ease-out;
  }

  &:hover::after,
  &:focus::after,
  &:active::after {
    opacity: 1;
  }
}




