/* Fonts */
@font-face {
  font-family: "Poppins Medium Italic";
  src: url("/fonts/Poppins-MediumItalic.ttf");
}

@font-face {
  font-family: "Poppins Thin";
  src: url("/fonts/Poppins-Thin.ttf");
}


@font-face {
  font-family: "Poppins Regular";
  src: url("/fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Poppins Bold";
  src: url("/fonts/Poppins-Bold.ttf");
}

@font-face {
  font-family: "Poppins Medium";
  src: url("/fonts/Poppins-Medium.ttf");
}

@font-face {
  font-family: "Helvetica Compressed";
  src: url("/fonts/helvetica-compressed.otf");
}

@font-face {
  font-family: "Wonderbar Demo";
  src: url("/fonts/Wonderbar-Demo.otf");
}

@font-face {
  font-family: "Agentred";
  src: url("/fonts/AGENTRED.ttf");
}

@font-face {
  font-family: "Helvetica";
  src: url("/fonts/Helvetica.ttf");
}


@font-face {
  font-family: "If";
  src: url("/fonts/If.ttf");
}


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}




